**Data Types and Structures Questions**

# **1.What are data structures, and why are they important**
 -In Python, data structures are fundamental building blocks that help organize and manipulate data efficiently. Examples: String,integer, list, tuple, dictionary, sets.

# **2.Explain the difference between mutable and immutable data types with examples**
-In Python, mutable and immutable data types differ in whether their elements can be modified or not. ex: String, tuple are immutable, where list, dictionary are mutable.

# **3.What are the main differences between lists and tuples in Python**
- List is Mutable and suitable for dynamic data collection, tuple is immutable and suitable for fixed colelction of data (e.g password)

# **4.Describe how dictionaries store data**
-Dictionaries in Python store data as key-value pairs.Keys: Unique and immutable (e.g., str, int, tuple).Values: Can be any data type.

# **5.Why might you use a set instead of a list in Python**
-Sets automatically remove duplicates, ensuring all elements are unique.

# **6.What is a string in Python, and how is it different from a list**
-String is sequence of characters within doublequote[" "], List is sequence of data types within brackets[ ]

# **7.How do tuples ensure data integrity in Python**
-Tuples ensure data integrity in Python through their immutability, meaning their content cannot be modified.

# **8.What is a hash table, and how does it relate to dictionaries in Python**
-A hash table is a data structure that stores data in key-value pairs, using a hashing function to compute an index (hash) for each key. This allows for efficient data retrieval, insertion, and deletion

# **9.Can lists contain different data types in Python**
-Yes, lists in Python can contain elements of different data types.like,Strings,integer,list, float.

# **10.Explain why strings are immutable in Python**
 -Strings are immutable in Python to ensure security, performance optimization, and hashability

# **11.What advantages do dictionaries offer over lists for certain tasks**
 -Dictionaries offer lookup , by key-value pair.

# **12.How do sets handle duplicate values in Python**
-set automatically remove duplicate values by storing only unique elements.

# **13.Describe a scenario where using a tuple would be preferable over a list**
-Storing geographic coordinates for a location

# **14.How does the “in” keyword work differently for lists and dictionaries**
-In lists, the in keyword checks if a value exists in the sequence, iterating through the list.
In dictionaries, it checks for the presence of a key (not values), using efficient hashing for fast lookups.If user wants in both key & value, it also works with change in syntex.

# **15.Can you modify the elements of a tuple? Explain why or why not**
-No, you cannot modify the elements of a tuple because tuples are immutable in Python

# **16.What is a nested dictionary, and give an example of its use case**
-A nested dictionary is a dictionary containing another dictionary as a value. Ex: restraurent menu , Dish 1 as key , and Dish details like price, Grade, elements would be listed in a disctionary , which would be consider as Value of the master dictionary.

# **17.Describe the time complexity of accessing elements in a dictionary**
-n Python, a dictionary stores data using a hash table. When you access an element using a key (my_dict[key]), Python computes a hash value for the key, which quickly points to the correct memory location of the associated value.

# **18.In what situations are lists preferred over dictionaries**
-Lists are preferred over dictionaries when you need to maintain ordered collections of items, or when you need to access elements by their index. They are also better when the data doesn't require key-value pairing

# **19.Why are dictionaries considered unordered, and how does that affect data retrieval**
-Dictionaries in Python were historically considered unordered because their elements (key-value pairs) were stored based on their hash values, not in a specific sequence. However, since Python 3.7, dictionaries maintain insertion order.This allow fast lookups, the order of elements doesn't play a role in retrieval.

# **20.Explain the difference between a list and a dictionary in terms of data retrieval**
-In list, Data is accessed by index (position), which is an integer.
In Disctionary,Data is accessed by key, which can be of any immutable type.

In [2]:
#  Practical Questions
# 1.Write a code to create a string with your name and print it
myname="Arijit"
print(myname)

Arijit

In [3]:
# 2. Write a code to find the length of the string "Hello World"
length="Hello World"
print(len(length))

11

In [10]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"
mystring="Python Programming"
result=mystring[0:3]
print(result)

Pyt

In [11]:
# 4. Write a code to convert the string "hello" to uppercase
mystring="hello"
print(mystring.upper())

HELLO

In [12]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
mystring="I like apple"
result = mystring.replace("apple", "orange")
print(result)

I like orange

In [13]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
mylist=[1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

In [14]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
mylist=[1, 2, 3, 4]
mylist.append(10)
print(mylist)

[1, 2, 3, 4, 10]

In [15]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
mylist=[1, 2, 3, 4, 5]
mylist.remove(3)
print(mylist)

[1, 2, 4, 5]

In [16]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
mylist=['a', 'b', 'c', 'd']
print(mylist[1])

b

In [23]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [24]:
# 11.Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [25]:
# 12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple=('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [26]:
# 13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple=(1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [27]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple=('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [28]:
# 15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple=('apple', 'orange', 'banana')
if 'banana' in tuple:
  print("Yes available")
else:
  print("Not available")

Yes available

In [29]:
# 16.. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set={1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [30]:
# 17.Write a code to add the element 6 to the set {1, 2, 3, 4}.
set={1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [32]:
# 18.Write a code to create a tuple with the elements 10, 20, 30 and print it.
set={10,20,30}
print(set)

{10, 20, 30}

In [34]:
# 19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple=('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [35]:
# 20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tuple=(1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [36]:
# 21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [37]:
# 22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple=('apple', 'orange', 'banana')
if 'banana' in tuple:
  print("Yes available")
else:
  print("Not available")

Yes available

In [38]:
# 23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set={1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [39]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}
set={1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}